/nbproject/
/javascript/QI_Lite.1.0.js
/images/ktx-files.bat
/images/make-ktx-batch.bat
/images/ktx-batch.bat
/audio/495054__tannersound__scifi-laser-gun-firing.wav
/audio/234316__nick121087__spaceship-ambience.wav